*{margin: 0;
  padding:0;
  box-sizing: border-box;
}

a{
text-decoration:none;
color: white;

}

body{
  background-color: white;
  font-size: 18px;
  font-family: 'Open Sans';
  color: hsl(192, 100%, 9%);
}
/* Header Styles */

  header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content:space-between;
  padding: 20px;
  background-color: hsl(193, 100%, 96%);
}

header .huddle{
  padding: 10px;
  width: 50px;
}

header .button1{
  padding: 10px;
}

.button1 #b1{
  background-color:white ;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 30px;
  border: 2px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px gray;
}


main{
width: 90%;
margin: 0 auto;
color: hsl(192, 100%, 9%);

}

/* Showcase Styles */
.showcase{
background-image:url(bg-hero-desktop.svg);
width: 100%;
display: flex;
justify-content: center;
align-content: center;
padding: 20px;
background-color: hsl(193, 100%, 96%); 
}
.showcase-side1{
flex: 1;
}

.showcase-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.showcase-header h1{
  font-family:'Poppins';
  font-weight: 600;
  padding-bottom:20px;
  font-size: 3rem;

}
.showcase-text{
font-size: 1.3rem;
font-weight: bolder ;
}

.button{
background-color:  hsl(322, 100%, 66%);
color: white;  
border-radius: 30px;
width: 60%;
padding: 15px 25px;
font-weight: 700;
font-family: 'Open Sans';
border: none;
}
.button:hover{
background-color:hsla(322, 100%, 66%, 0.726);
cursor: pointer;
}

.showcase-image{
flex: 1;
}

.showcase-image img{
width:90%;
}


section.illustration{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
margin: 50px 20px 20px 20px;
box-shadow: 0px 2px 2px 2px gray;
border-radius:20px ;
}

.illustration-text{
width: 60%;
}
.illustration-text h1{
font-size: 2rem;
margin: 5px;
}
.illustration-text p{
font-size: 1.3rem;
}
.illustration-image{
width: 40%;
}

.illustration-image img{
width: 80%;
}

section.get-started{
display:flex;
flex-direction:column;
align-items: center;
background: white;
padding: 40px;
box-shadow: 0px 2px 2px 2px gray;
border-radius:30px ;
margin: 0px  auto;
width: 50%;
position: relative;
top: 90px;

}


/* Footer Styles */
footer{
background-color: hsl(192, 100%, 9%);
width: 100%;
color: white;
padding:200px 10px 20px 10px; 
}

.footer-container{ 
display: flex;
flex-direction:row;  
justify-content: space-around;
align-items: center;  
}

.location-contact,
.link-tags,
.link-tags1,
.socials{
width:25%;
margin:0px 80px;
font-size: 1rem;
}


.contact{
display:flex;
flex-direction:row;
align-items:flex-start;
justify-items: flex-start;
margin:20px 0px ;
}

.contact img{
margin-right: 30px;
}

.link-tags,
.link-tags1{
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.socials{
display: flex;
align-items: space-between;
justify-items: space-between;
flex-direction: column ;
margin: auto;
width: 50%;
}
.link-tags p,
.link-tags1 p{
margin: 5px;
padding: 5px;
text-align: left;
}

.social-icons {
display: flex;
margin-top: 3rem;
justify-items: center;
list-style-type: none;
padding-right: 30px;
flex-direction: row;
align-items: center;
}

.social-icons div {
border: 1px solid white;
border-radius: 50%;
align-items: center;
flex-direction: column;
margin: 10px;

}

.social-icon {
font-size: 1.5rem;
/*    padding-right: 20px; */
padding-left: 10px;
padding-right: 10px;
}

.social-icon:hover {
color: hsl(322, 100%, 66%);
}

.copyright{
text-align: right;
}

/* Media query styles*/
@media (max-width:900px){
header .huddle img{
 width: 120px;
}

.button1 #b1{
  font-weight: 700;
  font-size: 0.8rem;
  padding: 5px 10px;

}
.showcase{
text-align: center;
flex-direction: column;

}
.showcase-header h1{
  font-size: 2rem;
}
.button{
     margin: 100px 0px;
}
.illustration{
  flex-direction: column;
  text-align: center;
  padding: 0px;
}
.illustration-text h1{
font-size: 1.5rem;
margin:10px 0px ;
}
.illustration-text p{
font-size: 1rem;
margin: 20px 0px 30px 0px;
/*   padding:10px 10px 0px; */
}
.illustration-image{
width: 100%;
}

.illustration-image img{
margin: 15px 0px;
width: 100%;
}
.illustration-text{
 width: 100%
}

.illustration:nth-child(1),
.illustration:nth-child(3){
  
  flex-direction: column-reverse;
  
}

section.get-started{
flex-direction:column;
align-items: center;
text-align: center;
padding: 20px;
width: 100%;

}
section.get-started button{
  margin: 20px;
  
}

/*   Footer moblie styles */

.footer-container{ 
flex-direction:column;
justify-content:flex-start;
align-items: flex-start;
width: 100%;
  
}

.location-contact,
.link-tags,
.link-tags1,
.socials{
  width: 100%;
  margin:0px 0px;
}

.location-contact{
  margin-bottom: 50px;
}
 
.link-tags p,
.link-tags1 p{
margin-left: 10px;  
}

.socials{
  margin-top: 50px ;
  align-items: center;
}
.social-icon{
  align-items: center;
}
.social-icon p{
  width: 100%;
  font-size: 15px;  
}

.copyright{
text-align: center;
}

}


